@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Press+Start+2P&display=swap");
:root {
  --game-ui-size: 500px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Press Start 2P", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  display: grid;
  background-color: #1c1e2a;
  color: white;
}
body > * {
  grid-area: 1/1;
}

canvas {
  border-radius: 8px;
  pointer-events: none;
  align-self: center;
  justify-self: center;
}

#heading {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  pointer-events: none;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#heading .title {
  font-size: 24px;
}
#heading .small {
  font-size: 12px;
}

@keyframes pulse {
  from {
    scale: 1;
  }
  to {
    scale: 1.2;
  }
}
.game-ui {
  height: calc(var(--game-ui-size) + 100px);
  aspect-ratio: 1;
  align-self: center;
  justify-self: center;
}
.game-ui .head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 8px;
}
.game-ui .head span {
  font-size: 18px;
  font-weight: lighter;
  text-transform: uppercase;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.d-none {
  display: none !important;
}